# roles/homepage/templates/docker-compose.yml.j2
services:
  {{ global_defaults.homepage_container_name }}:
    image: {{ global_defaults.homepage_image }}
    container_name: {{ global_defaults.homepage_container_name }}
    networks:
      - proxy
      - management
    volumes:
      - {{ global_defaults.homepage_config_path }}:/app/config
    environment:
      HOMEPAGE_ALLOWED_HOSTS: {{ homepage_allowed_hosts }}
      PUID: {{ global_defaults.puid }}
      PGID: {{ global_defaults.pgid }}
      DOCKER_HOST: http://{{ global_defaults.docker_proxy_container_name | default('docker-socket-proxy') }}:2375
    restart: unless-stopped
networks:
  proxy:
    external: true
  management:
    external: true
  