services:
  mongo-jumpbox:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mongo-jumpbox
    tty: true
    stdin_open: true
    command: bash
    networks:
      - internal_db
      - external_net

networks:
  internal_db:
{% if deployment_env == "dev" %}
    internal: false
    name: internal_db
    external: true
{% else %}
    driver: bridge
    internal: true
{% endif %}
  external_net:
    driver: bridge
