services:
  mongo-jumpbox:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mongo-jumpbox
    tty: true
    stdin_open: true
    command: bash
    networks:
      - internal_db
      - external_net

networks:
  internal_db:
    internal: {% if deployment_env != 'dev' %}true{% else %}false{% endif %}
    name: internal_db
  external_net:
    driver: bridge
