networks:
  proxy:
    driver: bridge
  internal_db:
    driver: bridge
    internal: true
  management:
    driver: bridge

services:
  portainer:
    image: portainer/portainer-ce:${PORTAINER_VERSION}
    container_name: portainer
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ global_defaults.app_base_path }}/portainer:/data
    networks:
      - management

  swag-external:
    image: linuxserver/swag:${SWAG_VERSION}
    container_name: swag-external
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - URL=${SWAG_EXTERNAL_URL}
      - SUBDOMAINS=${SWAG_EXTERNAL_SUBDOMAINS}
      - VALIDATION=${SWAG_EXTERNAL_VALIDATION}
      - DNSPLUGIN=${SWAG_EXTERNAL_DNSPLUGIN}
    volumes:
      - {{ global_defaults.app_base_path }}/swag/external:/config
    ports:
      - "443:443"
      - "80:80"
    restart: unless-stopped
    networks:
      - proxy

  swag-internal:
    image: linuxserver/swag:${SWAG_VERSION}
    container_name: swag-internal
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - URL=${SWAG_INTERNAL_URL}
      - SUBDOMAINS=${SWAG_INTERNAL_SUBDOMAINS}
      - VALIDATION=${SWAG_INTERNAL_VALIDATION}
      - DNSPLUGIN=${SWAG_INTERNAL_DNSPLUGIN}
    volumes:
      - {{ global_defaults.app_base_path }}/swag/internal:/config
    ports:
      - "8443:443"
    depends_on:
      - portainer
    restart: unless-stopped
    networks:
      - management
      - internal_db
      
  angular-ssr:
    build:
      context: {{ global_defaults.angular_ssr_build_context | default('../angular-ssr') }}
      dockerfile: Dockerfile
    container_name: angular-ssr
    expose:
      - "4000"
    networks:
      - proxy
      - internal_db
    restart: unless-stopped


  backend:
    build:
      context: {{ global_defaults.backend_build_context | default('../backend') }}
      dockerfile: Dockerfile
    container_name: airconcheck_backend
    env_file:
      - {{ global_defaults.backend_build_context }}/.env
    networks:
      - internal_db
    depends_on:
      - mongodb
    expose:
      - "3000"
{% if expose_backend_port is defined and expose_backend_port %}
    ports:
      - "3000:3000"
{% endif %}
    restart: unless-stopped

#  mongodb:
#    image: mongo:{{ global_defaults.mongodb_version }}
#    container_name: airconcheck_mongodb
#    environment:
#      MONGO_INITDB_ROOT_USERNAME: {{ mongodb_root_user }}
#      MONGO_INITDB_ROOT_PASSWORD: {{ mongodb_root_password }}
#    volumes:
#      - {{ global_defaults.app_base_path }}/mongodb:/data/db
#    networks:
#      - internal_db
#    restart: unless-stopped
