networks:
  proxy:
    driver: bridge
  internal_db:
    driver: bridge
    internal: true
  management:
    driver: bridge

services:
  mariadb:
    image: linuxserver/mariadb:${MARIADB_VERSION}
    container_name: mariadb
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - TZ=${TZ}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    volumes:
      - {{ app_base_path }}/mariadb:/config
    restart: unless-stopped
    networks:
      - internal_db

  wordpress:
    image: wordpress:${WORDPRESS_VERSION}
    container_name: wordpress
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - WORDPRESS_DB_HOST=${WORDPRESS_DB_HOST}
      - WORDPRESS_DB_USER=${WORDPRESS_DB_USER}
      - WORDPRESS_DB_PASSWORD=${WORDPRESS_DB_PASSWORD}
      - WORDPRESS_DB_NAME=${WORDPRESS_DB_NAME}
      - TZ=${TZ}
    volumes:
      - {{ app_base_path }}/wordpress:/var/www/html
      - {{ app_base_path }}/wordpress/php/uploads.ini:/usr/local/etc/php/conf.d/uploads.ini
    depends_on:
      - mariadb
    restart: unless-stopped
    networks:
      - proxy
      - internal_db

  phpmyadmin:
    image: phpmyadmin:${PHPMYADMIN_VERSION}
    container_name: phpmyadmin
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - PMA_HOST=${PMA_HOST}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - TZ=${TZ}
    restart: unless-stopped
    networks:
      - internal_db
      - management

  portainer:
    image: portainer/portainer-ce:${PORTAINER_VERSION}
    container_name: portainer
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ app_base_path }}/portainer:/data
    networks:
      - management

  swag-external:
    image: linuxserver/swag:${SWAG_VERSION}
    container_name: swag-external
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - URL=${SWAG_EXTERNAL_URL}
      - SUBDOMAINS=${SWAG_EXTERNAL_SUBDOMAINS}
      - VALIDATION=${SWAG_EXTERNAL_VALIDATION}
      - DNSPLUGIN=${SWAG_EXTERNAL_DNSPLUGIN}
    volumes:
      - {{ app_base_path }}/swag/external:/config
    ports:
      - "443:443"
      - "80:80"
    depends_on:
      - wordpress
    restart: unless-stopped
    networks:
      - proxy

  swag-internal:
    image: linuxserver/swag:${SWAG_VERSION}
    container_name: swag-internal
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - URL=${SWAG_INTERNAL_URL}
      - SUBDOMAINS=${SWAG_INTERNAL_SUBDOMAINS}
      - VALIDATION=${SWAG_INTERNAL_VALIDATION}
      - DNSPLUGIN=${SWAG_INTERNAL_DNSPLUGIN}
    volumes:
      - {{ app_base_path }}/swag/internal:/config
    ports:
      - "8443:443"
    depends_on:
      - phpmyadmin
      - portainer
    restart: unless-stopped
    networks:
      - management
