services:
  mongo1:
    image: {{ global_defaults.mongo_image }}
    container_name: mongo1
    hostname: mongo1
    command:
      - mongod
      - --replSet
      - "{{ global_defaults.mongo_replicaset_name }}"
      - --bind_ip_all
      - --keyFile
      - /etc/mongo-keyfile
    environment:
      MONGO_INITDB_ROOT_USERNAME: {{ mongo_root_user }}
      MONGO_INITDB_ROOT_PASSWORD: {{ mongo_root_password | replace('$','$$') }}
    volumes:
      - {{ global_defaults.app_base_path }}/mongodb/keyfile:/etc/mongo-keyfile:ro
      - mongo1-data:/data/db
      - ./rs-init.js:/docker-entrypoint-initdb.d/rs-init.js:ro
    networks:
      - internal_db
    expose:
      - 27017
    ports:
      {% if deployment_env == "dev" %}
      - "27017:27017"
      {% endif %}

  mongo2:
    image: {{ global_defaults.mongo_image }}
    container_name: mongo2
    hostname: mongo2
    command:
      - mongod
      - --replSet
      - "{{ global_defaults.mongo_replicaset_name }}"
      - --bind_ip_all
      - --keyFile
      - /etc/mongo-keyfile
    environment:
      MONGO_INITDB_ROOT_USERNAME: {{ mongo_root_user }}
      MONGO_INITDB_ROOT_PASSWORD: {{ mongo_root_password | replace('$','$$') }}
    volumes:
      - {{ global_defaults.app_base_path }}/mongodb/keyfile:/etc/mongo-keyfile:ro
      - mongo2-data:/data/db
    networks:
      - internal_db
    expose:
      - 27017
      ports:
      {% if deployment_env == "dev" %}
      - "27018:27017"
      {% endif %}

  mongo3:
    image: {{ global_defaults.mongo_image }}
    container_name: mongo3
    hostname: mongo3
    command:
      - mongod
      - --replSet
      - "{{ global_defaults.mongo_replicaset_name }}"
      - --bind_ip_all
      - --keyFile
      - /etc/mongo-keyfile
    environment:
      MONGO_INITDB_ROOT_USERNAME: {{ mongo_root_user }}
      MONGO_INITDB_ROOT_PASSWORD: {{ mongo_root_password | replace('$','$$') }}
    volumes:
      - {{ global_defaults.app_base_path }}/mongodb/keyfile:/etc/mongo-keyfile:ro
      - mongo3-data:/data/db
    networks:
      - internal_db
    expose:
      - 27017
      ports:
      {% if deployment_env == "dev" %}
      - "27019:27017"
      {% endif %}

volumes:
  mongo1-data:
  mongo2-data:
  mongo3-data:

networks:
  internal_db:
    {% set dev = (deployment_env == "dev") %}
    {% if dev %}
    internal: false
    name: internal_db
    external: true
    {% else %}
    driver: bridge
    internal: true
    {% endif %}
