services:
  mongo1:
    image: {{ global_defaults.mongo_image }}
    container_name: mongo1
    hostname: mongo1
    command:
      - mongod
      - --replSet
      - "{{ global_defaults.mongo_replicaset_name }}"
      - --bind_ip_all
      - --keyFile
      - /etc/mongo-keyfile
    environment:
      MONGO_INITDB_ROOT_USERNAME: {{ mongo_root_user }}
      MONGO_INITDB_ROOT_PASSWORD: {{ mongo_root_password | replace('$','$$') }}
    volumes:
      - {{ global_defaults.app_base_path }}/mongodb/keyfile:/etc/mongo-keyfile:ro
      - mongo1-data:/data/db
      - ./rs-init.js:/docker-entrypoint-initdb.d/rs-init.js:ro
    networks:
      - internal_db
    ports:
      - "27017:27017"

  mongo2:
    image: {{ global_defaults.mongo_image }}
    container_name: mongo2
    hostname: mongo2
    command:
      - mongod
      - --replSet
      - "{{ global_defaults.mongo_replicaset_name }}"
      - --bind_ip_all
      - --keyFile
      - /etc/mongo-keyfile
    environment:
      MONGO_INITDB_ROOT_USERNAME: {{ mongo_root_user }}
      MONGO_INITDB_ROOT_PASSWORD: {{ mongo_root_password | replace('$','$$') }}
    volumes:
      - {{ global_defaults.app_base_path }}/mongodb/keyfile:/etc/mongo-keyfile:ro
      - mongo2-data:/data/db
    networks:
      - internal_db
    ports:
      - "27018:27017"

  mongo3:
    image: {{ global_defaults.mongo_image }}
    container_name: mongo3
    hostname: mongo3
    command:
      - mongod
      - --replSet
      - "{{ global_defaults.mongo_replicaset_name }}"
      - --bind_ip_all
      - --keyFile
      - /etc/mongo-keyfile
    environment:
      MONGO_INITDB_ROOT_USERNAME: {{ mongo_root_user }}
      MONGO_INITDB_ROOT_PASSWORD: {{ mongo_root_password | replace('$','$$') }}
    volumes:
      - {{ global_defaults.app_base_path }}/mongodb/keyfile:/etc/mongo-keyfile:ro
      - mongo3-data:/data/db
    networks:
      - internal_db
    ports:
      - "27019:27017"

volumes:
  mongo1-data:
  mongo2-data:
  mongo3-data:

networks:
  internal_db:
    external: true
