// This script runs on mongo1 at startup. If needed, comment out for idempotency
rs.initiate({
  _id: "{{ global_defaults.mongo_replicaset_name }}",
  members: [
    { _id: 0, host: "mongo1:27017" },
    { _id: 1, host: "mongo2:27017" },
    { _id: 2, host: "mongo3:27017" }
  ]
});