PORT=3000
NODE_ENV=production
DB_URL={{ mongo_app_url }}
SECRET_KEY={{ jwt_secret_key }}
SMTP_HOST={{ mail_smtp_host }}
SMTP_PORT={{ mail_smtp_port }} 
SMTP_SECURE={{ mail_smtp_secure }}
SMTP_USER={{ mail_smtp_user }}
SMTP_PASS={{ mail_smtp_pass }}
SMTP_FROM={{ mail_smtp_from }}
FRONTEND_URL=https://{{ swag_external_url }}
BACKEND_URL={{ backend_api_host }}{{ global_defaults.backend_api_path }}