services:
  mongo-express:
    image: {{ global_defaults.mongo_express_image }}
    container_name: mongo-express
    environment:
      ME_CONFIG_MONGODB_URL: "{{ global_defaults.mongo_rs_uri }}"
      ME_CONFIG_BASICAUTH: "false"
    networks:
      - internal_db
      - management
    expose:
      - 8081
    restart: unless-stopped

networks:
  internal_db:
    name: internal_db
    external: true
{% if deployment_env == "dev" %}
    internal: false    
{% else %}
    driver: bridge
    internal: true
{% endif %}
  management:
    external: true
    name: management