services:
  mongo-express:
    image: {{ global_defaults.mongo_express_image }}
    container_name: mongo-express
    environment:
      ME_CONFIG_MONGODB_URL: "{{ global_defaults.mongo_rs_uri }}"
      ME_CONFIG_BASICAUTH: "false"
    networks:
      - internal_db
      - management
    expose:
      - 8081

networks:
  internal_db:
    external: true
  management:
    external: true