services:
  mongo-express:
    image: {{ global_defaults.mongo_express_image }}
    container_name: mongo-express
    environment:
      ME_CONFIG_MONGODB_URL: "{{ global_defaults.mongo_rs_uri }}"
    networks:
      - internal_db
    ports:
      - 8081:8081

networks:
  internal_db:
    external: true