---
- name: Deploy mongo_pbm_backup systemd service unit
  ansible.builtin.template:
    src: mongo-pbm-backup.service.j2
    dest: "{{ mongo_pbm_systemd_unit_dir }}/{{ mongo_pbm_systemd_service }}"
    owner: root
    group: root
    mode: "0644"
  notify:
    - Reload systemd daemon
    - Restart mongo pbm backup timer

- name: Deploy mongo_pbm_backup systemd timer unit
  ansible.builtin.template:
    src: mongo-pbm-backup.timer.j2
    dest: "{{ mongo_pbm_systemd_unit_dir }}/{{ mongo_pbm_systemd_timer }}"
    owner: root
    group: root
    mode: "0644"
  notify:
    - Reload systemd daemon
    - Restart mongo pbm backup timer

- name: Ensure mongo_pbm_backup timer is enabled and running
  ansible.builtin.systemd:
    name: "{{ mongo_pbm_systemd_timer }}"
    enabled: true
    state: started
    daemon_reload: true
