services:
  {{ global_defaults.docker_proxy_container_name }}:
    image: {{ global_defaults.docker_proxy_image }}
    container_name: {{ global_defaults.docker_proxy_container_name }}
    labels:
      - homepage.group={{ deployment_env | upper }}
      - homepage.name=Docker Socket Proxy
      - homepage.icon=mdi-docker
      - homepage.description=Proxy del socket Docker (acceso restringido)
    networks:
      - management
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
{% set env = global_defaults.docker_proxy_env | default({}) %}
{% if env %}
    environment:
{% for key, value in env.items() %}
      {{ key }}: "{{ value }}"
{% endfor %}
{% endif %}
    restart: unless-stopped
networks:
  management:
    external: true