[Unit]
Description={{ unit_description }}
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory={{ mongo_pbm_base_dir }}
ExecStart={{ service_exec_command }}
TimeoutStartSec=0
