services:
  mongo-jumpbox:
    image: ubuntu:22.04
    container_name: mongo-jumpbox
    command: sleep infinity
    networks:
      - internal_db
    volumes:
      - /etc/localtime:/etc/localtime:ro
    build:
      context: .
      dockerfile: Dockerfile

networks:
  internal_db:
    external: true
  default:
    driver: bridge